<link rel="stylesheet" href="/css/footer.css">
<footer>
    <div class="footer-container">
        <div class="languages">
            <a class="language" href="#">English (UK)</a>
            <a class="language" href="#">हिन्दी</a>
            <a class="language" href="#">मराठी</a>
            <a class="language" href="#">اردو</a>
            <a class="language" href="#">ਪੰਜਾਬੀ</a>
            <a class="language" href="#">বাংলা</a>
            <a class="language" href="#">ગુજરાતી</a>
            <a class="language" href="#">தமிழ்</a>
            <a class="language" href="#">తెలుగు</a>
            <a class="language" href="#">മലയാളം</a>
            <a class="language" href="#">ಕನ್ನಡ</a>
            <button class="plussing">+</button>
            <hr>
            <div class="footer-link">
                <a class="language foot-link" href="#">Sign Up</a>
                <a class="language foot-link" href="#">Log In</a>
                <a class="language foot-link" href="#">Messenger</a>
                <a class="language foot-link" href="#">Watch</a>
                <a class="language foot-link" href="#">Places</a>
                <a class="language foot-link" href="#">Games</a>
                <a class="language foot-link" href="#">Local</a>
                <a class="language foot-link" href="#">Fundraisers</a>
                <a class="language foot-link" href="#">Services</a>
                <a class="language foot-link" href="#">Careers</a>
                <a class="language foot-link" href="#">Privacy</a>
                <a class="language foot-link" href="#">Help</a>
                <a class="language foot-link" href="#">Terms</a>
                <a class="language">Contact uploading and non-users</a>
            </div>
            <div>
                <p class="language">Meta © 2022</p> 
            </div>
        </div>
    </div>
</footer>