<link rel="stylesheet" href="/css/singup.css">
<div class="container">
    <div class="form-container">
      <h1>Enter OTP</h1>
      <form action="/user/createuser/<%= user.id %>" method="POST">
        <input type="number" name="OTP" placeholder="Enter OTP" required/>
        <button>Submit</button>
      </form>
    </div>
  </div>
  