/* body{
  background-color: hsl(252, 30%,90%);

} */
.video-slider{
    position: fixed;
    top: 0;
    background-color: rgb(30, 29, 29);
    width: 100%;
    padding: 14px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.video-slider-container{
    width: 30%;
    padding: 14px;
    height: 100%;
    transition: transform 0.5s ease;
}
.video-slide{
  position: relative;
  width: 100%;
  height: 48vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
    
}

.video-slider video{
    width: 92%;
    height: 100%;
    border: 1px solid black;
    column-gap: 2rem;
    border-radius: 5%;
    
}
  .video-slider-track {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
   
  }
  .video-slider-controls {
    position: fixed;
    bottom: 0;
    transform: translateY(-50%);
    width: 30%;
    display: flex;
    justify-content: space-between;
  }
  
  .video-slider-prev,
  .video-slider-next {
    padding: 10px 20px;
    border: none;
    background-color: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
  }
  
  .video-slider-prev:hover,
  .video-slider-next:hover,
  .backbutton button:hover {
    color: #ccc;
  }
  
  .video-slider-prev {
    margin-right: 20px;
    font-size: 5rem;
  }
  
  .video-slider-next {
    margin-left: 20px;
    font-size: 5rem;
  }
  .heading{
    position: absolute;
    bottom: 60px;
    padding: 15px;
    width: 92%;
    height: 196px;
    font-weight: 400;
    color: #a79d9d;
    background-color: #0a0a0a33;
    z-index: 0;
  }
.backbutton{
    position: absolute;
    top: 2%;
    left: 0;
}
.backbutton button{
    background-color: transparent;
    font-size: 4rem;
    color: white;
}
.userprofile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.controller{
    color: white;
    position: absolute;
    right: 20px;
    bottom: 200px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 2rem;
}
.controller i:hover{
    color: rgb(212, 14, 14);
}

.comment-container{
    background-color: #202124;
    position: absolute;
    z-index: 44;
    width: 100%;
}