<link rel="stylesheet" href="/css/mail.css">
<div class="container">
    <div class="alert">
        <h1>Hi This message for email verification:-</h1>
        <p>This link valid for <strong>2 min </strong>paste that OTP</p>
    </div>
    <p>
       <strong><%=otp%></strong>
    </p>
    <p>Thanks! Insert your regular email message here.</p>
</div>